$art_image_url: image-url('art.png');

$art_piece_names: carrot, lumberjack_down, lumberjack_down_0000, lumberjack_down_0001, lumberjack_down_0002, lumberjack_down_0003, lumberjack_down_side, lumberjack_down_side_0000, lumberjack_down_side_0001, lumberjack_down_side_0002, lumberjack_down_side_0003, lumberjack_side, lumberjack_side_0000, lumberjack_side_0001, lumberjack_side_0002, lumberjack_side_0003, lumberjack_up, lumberjack_up_0000, lumberjack_up_0001, lumberjack_up_0002, lumberjack_up_0003, lumberjack_up_side, lumberjack_up_side_0000, lumberjack_up_side_0001, lumberjack_up_side_0002, lumberjack_up_side_0003, pine, rabbit_0000, rabbit_0001, rabbit_0002, rabbit_0003, rabbit_0004, rabbit_jumping, rabbit_sitting, snowball, snowflake, snowman_down, snowman_down_0000, snowman_down_0001, snowman_down_0002, snowman_down_0003, snowman_down_side, snowman_down_side_0000, snowman_down_side_0001, snowman_down_side_0002, snowman_down_side_0003, snowman_side, snowman_side_0000, snowman_side_0001, snowman_side_0002, snowman_side_0003, snowman_up, snowman_up_0000, snowman_up_0001, snowman_up_0002, snowman_up_0003, snowman_up_side, snowman_up_side_0000, snowman_up_side_0001, snowman_up_side_0002, snowman_up_side_0003, tree;
$art_piece_widths: 17px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 90px, 50px, 50px, 50px, 50px, 50px, 40px, 40px, 11px, 10px, 48px, 52px, 52px, 52px, 52px, 48px, 52px, 52px, 52px, 52px, 48px, 52px, 52px, 52px, 52px, 48px, 52px, 52px, 52px, 52px, 48px, 52px, 52px, 52px, 52px, 66px;
$art_piece_heights: 30px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 100px, 50px, 50px, 50px, 50px, 50px, 40px, 40px, 11px, 10px, 42px, 46px, 46px, 46px, 46px, 42px, 46px, 46px, 46px, 46px, 42px, 46px, 46px, 46px, 46px, 42px, 46px, 46px, 46px, 46px, 42px, 46px, 46px, 46px, 46px, 74px;
$art_piece_positions_x: 1256px, 162px, 196px, 230px, 196px, 264px, 298px, 332px, 366px, 332px, 400px, 780px, 814px, 848px, 882px, 916px, 950px, 984px, 1018px, 984px, 1052px, 1086px, 1120px, 1154px, 1188px, 1222px, 2px, 162px, 214px, 266px, 318px, 370px, 1232px, 738px, 94px, 738px, 488px, 422px, 476px, 530px, 584px, 538px, 638px, 692px, 638px, 746px, 588px, 800px, 854px, 800px, 908px, 638px, 962px, 1016px, 962px, 1070px, 688px, 1124px, 1178px, 1124px, 434px, 94px;
$art_piece_positions_y: 44px, 54px, 54px, 54px, 54px, 54px, 54px, 54px, 54px, 54px, 54px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 2px, 2px, 2px, 2px, 2px, 2px, 2px, 50px, 78px, 92px, 50px, 2px, 2px, 2px, 2px, 50px, 2px, 2px, 2px, 2px, 50px, 2px, 2px, 2px, 2px, 50px, 2px, 2px, 2px, 2px, 50px, 2px, 2px, 2px, 50px, 2px;

@function art-sprite-width($name) {
  $index: index($art_piece_names, $name);

  @if $index != null {
    @return nth($art_piece_widths, $index)
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@function art-sprite-height($name) {
  $index: index($art_piece_names, $name);

  @if $index != null {
    @return nth($art_piece_heights, $index)
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@function art-sprite-position($name, $x_offset: 0, $y_offset: 0) {
  $index: index($art_piece_names, $name);

  @if $index != null {
    $x: nth($art_piece_positions_x, $index);
    $y: nth($art_piece_positions_y, $index);

    @return ($x_offset - $x) ($y_offset - $y);
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@mixin art-sprite-dimensions($name) {
  width: art-sprite-width($name);
  height: art-sprite-height($name);
}

@mixin art-sprite-background($name) {
  background: {
    repeat: no-repeat;
    image: $art_image_url;
    position: art-sprite-position($name);
  }
}

@mixin art-sprite($name) {
  @include art-sprite-dimensions($name);
  @include art-sprite-background($name);
}

// $TexturePacker:SmartUpdate:da2bb2e717d6a1131aaa72edf406d791:a24f0cdbbf4aad4014caa045f72a8eb5:b4690bc4e9404001c1481325e4112eb5$