$art_image_url: image-url('art.png');

$art_piece_names: carrot, lumberjack_chop_0000, lumberjack_chop_0001, lumberjack_chop_0002, lumberjack_chop_0003, lumberjack_chop_0004, lumberjack_chop_0005, lumberjack_down, lumberjack_down_0000, lumberjack_down_0001, lumberjack_down_0002, lumberjack_down_0003, lumberjack_down_side, lumberjack_down_side_0000, lumberjack_down_side_0001, lumberjack_down_side_0002, lumberjack_down_side_0003, lumberjack_side, lumberjack_side_0000, lumberjack_side_0001, lumberjack_side_0002, lumberjack_side_0003, lumberjack_up, lumberjack_up_0000, lumberjack_up_0001, lumberjack_up_0002, lumberjack_up_0003, lumberjack_up_side, lumberjack_up_side_0000, lumberjack_up_side_0001, lumberjack_up_side_0002, lumberjack_up_side_0003, pine, rabbit_0000, rabbit_0001, rabbit_0002, rabbit_0003, rabbit_0004, rabbit_jumping, rabbit_sitting, snowball, snowflake, snowman_down, snowman_down_0000, snowman_down_0001, snowman_down_0002, snowman_down_0003, snowman_down_side, snowman_down_side_0000, snowman_down_side_0001, snowman_down_side_0002, snowman_down_side_0003, snowman_side, snowman_side_0000, snowman_side_0001, snowman_side_0002, snowman_side_0003, snowman_up, snowman_up_0000, snowman_up_0001, snowman_up_0002, snowman_up_0003, snowman_up_side, snowman_up_side_0000, snowman_up_side_0001, snowman_up_side_0002, snowman_up_side_0003, splint, tree;
$art_piece_widths: 17px, 50px, 50px, 50px, 50px, 50px, 50px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 32px, 90px, 50px, 50px, 50px, 50px, 50px, 40px, 40px, 11px, 10px, 48px, 52px, 52px, 52px, 52px, 48px, 52px, 52px, 52px, 52px, 48px, 52px, 52px, 52px, 52px, 48px, 52px, 52px, 52px, 52px, 48px, 52px, 52px, 52px, 52px, 8px, 66px;
$art_piece_heights: 30px, 80px, 80px, 80px, 80px, 80px, 80px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 48px, 100px, 50px, 50px, 50px, 50px, 50px, 40px, 40px, 11px, 10px, 42px, 46px, 46px, 46px, 46px, 42px, 46px, 46px, 46px, 46px, 42px, 46px, 46px, 46px, 46px, 42px, 46px, 46px, 46px, 46px, 42px, 46px, 46px, 46px, 46px, 10px, 74px;
$art_piece_positions_x: 1464px, 162px, 214px, 266px, 318px, 266px, 214px, 370px, 404px, 438px, 404px, 472px, 506px, 540px, 574px, 540px, 608px, 988px, 1022px, 1056px, 1090px, 1124px, 1158px, 1192px, 1226px, 1192px, 1260px, 1294px, 1328px, 1362px, 1396px, 1430px, 2px, 370px, 422px, 474px, 526px, 578px, 1440px, 946px, 94px, 946px, 696px, 630px, 684px, 738px, 792px, 746px, 846px, 900px, 846px, 954px, 796px, 1008px, 1062px, 1008px, 1116px, 846px, 1170px, 1224px, 1170px, 1278px, 896px, 1332px, 1386px, 1332px, 642px, 958px, 94px;
$art_piece_positions_y: 44px, 2px, 2px, 2px, 2px, 2px, 2px, 54px, 54px, 54px, 54px, 54px, 54px, 54px, 54px, 54px, 54px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 50px, 2px, 2px, 2px, 2px, 2px, 2px, 2px, 50px, 78px, 92px, 50px, 2px, 2px, 2px, 2px, 50px, 2px, 2px, 2px, 2px, 50px, 2px, 2px, 2px, 2px, 50px, 2px, 2px, 2px, 2px, 50px, 2px, 2px, 2px, 50px, 92px, 2px;

@function art-sprite-width($name) {
  $index: index($art_piece_names, $name);

  @if $index != null {
    @return nth($art_piece_widths, $index)
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@function art-sprite-height($name) {
  $index: index($art_piece_names, $name);

  @if $index != null {
    @return nth($art_piece_heights, $index)
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@function art-sprite-position($name, $x_offset: 0, $y_offset: 0) {
  $index: index($art_piece_names, $name);

  @if $index != null {
    $x: nth($art_piece_positions_x, $index);
    $y: nth($art_piece_positions_y, $index);

    @return ($x_offset - $x) ($y_offset - $y);
  } @else {
    @warn "Wrong sprite name #{ $name }";
  }
}

@mixin art-sprite-dimensions($name) {
  width: art-sprite-width($name);
  height: art-sprite-height($name);
}

@mixin art-sprite-background($name) {
  background: {
    repeat: no-repeat;
    image: $art_image_url;
    position: art-sprite-position($name);
  }
}

@mixin art-sprite($name) {
  @include art-sprite-dimensions($name);
  @include art-sprite-background($name);
}

// $TexturePacker:SmartUpdate:79f5cbe855d35ae217667d9d69be14f6:d14da1aed266c7cbb6f99df4e520d687:b4690bc4e9404001c1481325e4112eb5$